################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/gettinglostinnature.github.io/FileContentIndex/1b703530-e59a-491a-91e7-059081aea9a3.vsidx
