<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="author" content="Cory Lillis">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Map Thang
        </title>
        <link rel="stylesheet" type="text/css" href="/styles/style.css">
        <link rel="stylesheet" type="text/css" href="/styles/loginorsignup.css">
    </head>

    <body>
        <h1>
            Map Thang
        </h1>
        <h2>
            Already a member? Login.
        </h2>
        <form id="loginForm" action="/login" method="post">
            <input type="submit" value="login">
        </form>
        <h2>
            New here? Sign Up!
        </h2>
        <form id="loginForm" action="/create-account" method="post">
            <input type="submit" value="Sign Up">
        </form>
        <!-- <h2>
            Or, use it without an account.
        </h2>
        <a href="/map">
            MAP TIME
        </a> -->
      <script src="/scripts/pageStyle.js"></script>
    </body>
</html>