<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="author" content="Cory Lillis">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Getting Lost! In Nature</title>
    <link rel="stylesheet" type="text/css" href="/styles/map.css"> <!-- Link to external CSS file -->
    <style>
        /* Inline CSS to remove scrollbars and adjust map size */
        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }

        #map {
            height: calc(100vh - 100px);
            width: 100vw;
        }

        header {
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            background-color: #f8f8f8;
     
